{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}

<div class="container my-2">

    <h1>Paiement annulé</h1>

    <p>Votre paiement a été annulé. Si vous avez des questions ou si vous souhaitez réessayer, n'hésitez pas à nous contacter ou à consulter notre page d'aide.</p>

    <p>Retour à la <a href="{{ path('home') }}">page d'accueil</a>.</p>

</div>

{% endblock %}